<a href="https://colab.research.google.com/github/keunsooyoon/python202206/blob/main/pythonbasic03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 반복문 while for

# While

# while 조건식:
#   수행문

# while True:   # 무한반복
#   print('Hello World')

num = 0

while num < 10:
  print(num, 'i love u')
  num += 1    # num = num + 1      자바에서 1개 증가 num++

0 i love u
1 i love u
2 i love u
3 i love u
4 i love u
5 i love u
6 i love u
7 i love u
8 i love u
9 i love u

In [6]:
coffee = 10

while True:
  print("커피를 드립니다.")
  coffee = coffee -1
  print(f"남은 커피는 {coffee}입니다.")
  if coffee == 0:
    print("커피가 더이상 없습니다.")
    break    # break 를 만나는 순간 반복문을 빠져 나간다.

커피를 드립니다.
남은 커피는 9입니다.
커피를 드립니다.
남은 커피는 8입니다.
커피를 드립니다.
남은 커피는 7입니다.
커피를 드립니다.
남은 커피는 6입니다.
커피를 드립니다.
남은 커피는 5입니다.
커피를 드립니다.
남은 커피는 4입니다.
커피를 드립니다.
남은 커피는 3입니다.
커피를 드립니다.
남은 커피는 2입니다.
커피를 드립니다.
남은 커피는 1입니다.
커피를 드립니다.
남은 커피는 0입니다.
커피가 더이상 없습니다.

In [11]:
# 1부터 10까지 숫자 중 홀수만 출력하세요

# by 장서영
num = 1

while True:
  print(num)
  num = num + 2
  if (num > 10):
    break;  # break  를 만나면 반복문을 빠져 나간다. 

a = 0

while a < 10:
  a += 1
  if a % 2 == 0:continue   # continue 를 만나면 바로 반복문으로 다시 들어간다. 
  print(a)

# by 이성우
num = 0
while num < 10:
     num += 1
     if num % 2 != 0:
       print(num)

1
3
5
7
9
1
3
5
7
9
1
3
5
7
9

In [12]:
# for문 주로 반복 회수가 정확할때 사용된다. 

li = ['1','2','3']

for i in li:
  print(i)

1
2
3

In [13]:
a = [(1,2),(3,4),(5,6)]

for item1, item2 in a:
  print(item1 + item2)

3
7
11

In [16]:
eng = [90,60,90,70,80]
id = 0
for score in eng:
  id += 1
  if score >= 80:
    print(f'{id}번 학생은 합격입니다.')
  else:
    print(f'{id}번 학생은 불합격입니다.')

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [20]:
eng = [90, 60, 90, 70, 80]
id = 0
# by 이성우
for score in eng:
   id += 1
   if score >= 80:
     print(f"{id}번 학생은 합격입니다")
   else:
     continue

# by 장서영   
id = 0  
for score in eng : 
  id += 1
  if score < 80: continue
  print(f"{id} 번 학생은 합격입니다.")

1번 학생은 합격입니다
3번 학생은 합격입니다
5번 학생은 합격입니다
1 번 학생은 합격입니다.
3 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [22]:
# for 문과 함께 많이 사용되는 range

print(range(10))  # 0부터 10 미만까지 (시작, 끝(미만))

range(0, 10)

In [25]:
for i in range(10):  #시작이 0일경우 생략
  print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
# 0부터 10까지 의 합을 계산하세요

# by 이성우

sum = 0
for i in range(11): #시작이 0일경우 생략
   sum += i
print(sum)

55

In [31]:
# 구구단을 출력하세요

# 2 * 1 = 2    2 * 2 = 4 .........
# .
# .
# .
# 9 * 1 = 9    9 * 2 = 18 .........

# by 이성우

for dan in range(2, 10):  # 2 ~ 9
    for i in range(1, 10):  # 1 ~ 9
        print(f'{dan} x {i} = {dan * i}', end = "\t")  # 옆으로 쭉
    print() # 단이 끝날때마다 줄바꾸기

2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81

In [34]:
# Quiz 1 while 문을 사용하여 1부터 1000까지의 자연수 중에서 3의 배수들의 합을 구하시오.
n = 0
sum = 0
while n < 1000:
  if n % 3 == 0:
    sum = sum + n
  n += 1

print(sum)

166833

In [37]:
# Quiz 1 while 문을 사용하여 * 삼각형을 만드세요

# *
# **
# ***
# ****
# *****

# by 장서영
n = 0
s = "*"
while (n < 5):
  print(s)
  n = n + 1
  s = s + "*"


#
i = 0
while True:
  i += 1
  if i > 5:break
  print('*' * i)

*
**
***
****
*****
*
**
***
****
*****

In [40]:
# 리스트 내포 (list comprehension)

a = [1,2,3,4]


result = []
for num in a:
  result.append(num * 3)

print(result)


result2 = [num * 3       for num in a]

print(result2)


# 조건식 까지 추가 가능

result3 = [num * 3      for num in a       if num % 2 == 0]
# 처리 순서   3                1                  2

print(result3)

[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]

In [ ]:
# 리스트 중에서 홀수만 2를 곱하여 리스트를 생성하세요

# by 이성우
num = [1, 2, 3, 4, 5]

# result = [num * 3 for num in a if num % 2 != 0]
result = [num * 3 for num in a if num % 2 == 1]   # 홀수 여부
print(result)

In [41]:
# Quiz 1 while 문을 사용하여 * 역삼각형을 만드세요

# *****
# ****
# ***
# **
# *

# by 장서영

n = 5

while (n > 0): 
  print("*" * n)
  n = n - 1

*****
****
***
**
*

In [43]:
# Quiz 1 for 문을 사용하여 * 역삼각형을 만드세요

# by 이성우
for i in range(5, 0, -1):  
    for j in range(1, i + 1): 
        print('*', end = "") # 옆으로 쭉
    print() 


# by 장서영
for i in range (0, 5):
  print("*" * (5-i))
  i += 1

*****
****
***
**
*
*****
****
***
**
*

In [44]:
# Quiz 1 줄의 갯수를 입력 받아서  * 정삼각형을 만드세요

# 줄의 갯수를 입력하세요 >>> 3

#   *
#  ***
# *****

In [45]:
# 이성우
s = int(input("줄의 갯수를 입력하세요"))
for n in range(1, s + 1):
   print(' '*(10-n) + '*' *(2 * n - 1))

# 장서영
n = int(input('줄의 갯수를 입력하세요:  : '))

for i in range(1, n + 1):
    print(" " * (n-i), "*" * (2 * i - 1))

# 유정화
n = int(input())

for i in range(n) :
  print(' '*(n-i), '*'*(2*i+1))

줄의 갯수를 입력하세요3
         *
        ***
       *****
줄의 갯수를 입력하세요:  : 4
    *
   ***
  *****
 *******
5
      *
     ***
    *****
   *******
  *********

In [51]:
# 함수 (클래스 밖에서는 함수 클래스 안에서는 매서드)

# 바나나 -> 믹서기 -> 바나나 주스
# 사과   ->        -> 사과 주스


# def 함수이름(매개변수):
#   수행 문장
#   수행 문장


#  1. 입력이 있고 리턴이 있는 함수

# def add(a,b):
#   return a+b

# print(add(3,4))



#  2. 입력이 없고 리턴도 없는 함수

# def a():
#   print('입력이 없고 리턴도 없는 함수')

# a()

#  3. 입력이 있고 리턴이 없는 함수


# def b(name):
#   print(name, '님을 환영합니다.')


# b('어스틴')



#  3. 입력이 없고 리턴은 있는 함수

def c():
  return 'Hi'

c()

'Hi'

In [ ]:
def add(a,b):
  return a+b

print(add(3,4))


def add2(a,b,c):
  return a+b+c

print(add2(3,4,5))


def add3(a,b,c,d):
  return a+b+c+d

print(add3(3,4,5,6))

In [54]:
def add_many(*args):    #  입력된 값들을 모두 전부 모아서 튜플로 만들어 준다. 가변 매개변수
  sum = 0
  for i in args:
    sum += i
  return sum

print(add_many(2,3,5))
print(add_many(2,3,5,1,2))

10
13

In [56]:
# 변수의 영향 범위

# 지역변수(***)와 전역변수


a = 1   # a변수가 함수 밖에서 선언이 되었다. 전역 변수

def vartest(a):  # 함수 안에서의 a는 함수 밖에서의 a와는 완전히 다른 변수이다. 
  a += 1


print(vartest(a))  # ? 2 , None 이 나온 이유는 return이 없기 때문에 가지고 나오는 값이 없다. 
print(a)           # 1   # 전역 변수값 a = 1  이 출력되었다.

None
1

In [57]:
a = 1   

def vartest(a): 
  a += 1
  return a

print(vartest(a))   
print(a)

2
1

In [59]:

# 클래스 정의
class Calculator:
  def __init__(self): # 더블 언더스코어 -> '던더'이닛
    self.result = 0   #생성자 constructor 객체를 생성할때 자동 호출되어 실행된다. 

  def add(self, num):  #함수를 클래스 안에서 구현하면 매서드, 그 매서드를 객체가 호출하여 사용한다. 
    self.result += num
    return self.result  #매서드의 매개변수 첫 번째에  self를 사용하여 그자리에는 객체명이 오게 된다. 

# 객체 생성
cal1 = Calculator()  # 객체를 생성할때 생성자가 호출되어  cal1.result = 0 로 초기화된다. 
cal2 = Calculator()
cal3 = Calculator()

# 매서드 호출
print(cal1.add(4))
print(cal2.add(7))
print(cal3.add(9))

4
7
9

In [60]:
print(cal1.add(4))
print(cal2.add(7))
print(cal3.add(9))

8
14
18

In [61]:
cal1.add(2)

10

In [ ]:
# 객체와 인스턴스의 차이

# 클래스로 만든 객체를 인스턴스라고도 한다. 그러면 객체와 인스턴스의 차이는 무엇일까...
# a = Cal() 이렇게 만든  a는 객체이다. 
# a는 Cal() 클래스로 만든 인스턴스이다. 
# 즉, 인스턴스라는 표현은 객체가 어떤 클래스로 만든 건지를 관계 위주로 설명할때 사용한다. 
# 다시한번 표현하면  'a는 인스턴스다'보다는 'a는 객체다'라는 표현이 더 어울리며
# 'a는 Cal 클래스의 객체다'라는 표현보다는 'a는 Cal클래스의 인스턴스다' 라는 표현이 더 적절하다.

In [70]:
# 사칙연산 계산 클래스 -> 계산기 객체를 생성 -> 사칙연산은 매서드로 구현한다. 

class FourCal:
  def __init__(self,first,second):     # 생성자 ;객체 생성시 자동 실행
    self.first = first
    self.second = second

  # def setdata(self, first, second):  # 객체별 변수 선언 매서드
  #   self.first = first
  #   self.second = second

  def add(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

a = FourCal(4,2)
b = FourCal(3,5)

# a.setdata(4,2)
# b.setdata(3,5)

b.add()

# 객체마다 다른 고유의 변수값을 각각 따로 유지하게 된다.

8

In [71]:
# 상속  inheritance  자바에서는 다중상속을 지원하지 않는다.  파이썬은 다중상속 지원
# 상속은 기존 클래스를 변경하지 않고 기능을 추가하거나 기존 기능을 변경할 때 사용한다. 

class MoreFourCal(FourCal):
  pass

c = MoreFourCal(4,2)
c.add()

6

In [72]:
a = FourCal(4,0)  # 기존 클래스에 문제가 있다. 0으로 나누면 에러가 발생한다. 
a.div()

ZeroDivisionError: ignored

In [74]:
class SafeFourCal(FourCal):
  def div(self): # 상속받은 FourCal에 동일한 이름의 매서드를 자식 클래스가 오버라이드
    if self.second == 0:
      return 0
    else:
      return self.first / self.second

In [75]:

a = SafeFourCal(4,0)  
a.div()  # FourCal 클래스를 상속한 SafeFourCal클래스의 div가 호출되어 , 즉 자식의 매서드가 호출

0

In [80]:
# 클래스 변수

# 객체 변수는 다른 객체들에 영향을 받지 않고 독립적으로 그 값을 유지한다. (객체지향의 핵심)

class Family:
  lastname = "김"          # 클래스 변수

a = Family()               # 객체를 생성
print(a.lastname)          # 객체를 통해서 변수 접근 ( 매서드 접근 )

b = Family()               # 객체를 생성
print(b.lastname)          # 객체를 통해서 변수 접근 ( 매서드 접근 )

print(Family.lastname)     # 클래스 변수는 객체를 생성하지 않고도 클래스명.변수명 으로 접근 가능

김
김
김

In [82]:
Family.lastname = "최"
print(a.lastname)
print(b.lastname)

최
최