<a href="https://colab.research.google.com/github/syt73/python/blob/main/pythonbasic02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# input 입력

input()

i

'i'

In [ ]:
input('아이디를 입력하세요')

아이디를 입력하세요오

'오'

In [ ]:
id = input('아이디를 입력하세요')

아이디를 입력하세요이성우

In [ ]:
id = input('아이디를 입력하세요')
print(f'{id}님 환영합니다.')

아이디를 입력하세요dltjddn
dltjddn 님 환영합니다.

In [ ]:
age = input('당신의 나이를 입력하세요')
print(f'당신의 나이는 {age}입니다.')

In [ ]:
age = input('당신의 나이를 입력하세요')
print(f'당신의 나이는 {age + 1}입니다.')

당신의 나이를 입력하세요23

TypeError: ignored

In [ ]:
age = int(input('당신의 나이를 입력하세요'))
print(type(age))
print(f'당신의 나이는 {age + 1}입니다.')

#따라서 숫자로 사용하고자 할 때에는 형변환 casting을 해주어야 계산이 가능해진다

당신의 나이를 입력하세요22
<class 'int'>
당신의 나이는 23입니다.

In [ ]:
#컬렉션 list, tuple, dict, set           *** dataframe from pandas
# 여러개의 데이터를 담아두는 자료형

#리스트(list)
# 1. 리스트는 []를 사용하여 만든다.
# 2. 리스트는 자료형을 혼잡하여 저장할수 도 있다.(파이썬 장점이자 단점)
# 3. 리스트는 인덱싱과 슬라이싱이 가능하다.
# 4. 리스트에서는 삽입/삭제/수정이 가능하다.
#리스트를 사용하면 2, 4, 6, 8, 10.... 여러 데이터의 모음을 간단하게 표현할 수 있다.
num =[2,4, 6, 8, 10]
print(num)

li1 = [1, 2, '영희', '철수']
print(li1)

kim_math = 90
kim_eng = 95

[2, 4, 6, 8, 10]
[1, 2, '영희', '철수']

In [ ]:
# 리스트에서의 인덱싱과 슬라이싱
num =[2,4, 6, 8, 10]
print(num[-1])

10

In [ ]:
print(num[0] + num[-1])

12

In [ ]:
li1 = [1, 2, 'a', 'b', [1, 2, 3]]
print(li1[-1][0])

1

In [ ]:
# 리스트에서의 슬라이싱
num =[2,4, 6, 8, 10]
print(num[0:3]) #[start:stop:(:step)] 스탭은 생략하면 1씩 증가, stop 미만
print(num[:3]) #시작을 생략하면 처음부터이고 끝을 생략하면 마지막요소까지

[2, 4, 6]
[2, 4, 6]

In [ ]:
#리스트에서의 연산
a = [1, 2, 3]
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 길이 (갯수)
num =[2,4, 6, 8, 10]
print(len(num))

5

In [ ]:
# 4. 리스트에서는 삽입/삭제/수정이 가능하다.
# 수정
num =[2,4, 6, 8, 10]
num[0] = 0
print(num)

#삭제
del num[0]
print(num)

del num[2:] #슬라이싱 기법을 사용하여 여러 요소 한번에 삭제
print(num)

num.pop() # 마지막 항목을 하나씩 제거, 괄호안을 생략 -> 마지막 1개 삭제
print(num)

num = [2, 4, 6, 8, 10]
num.pop(0) # 괄호안을 생략하면 마지막 요소를 날리지만 위치가 값을 지정하면 그요소를 삭제
print(num)

# 리스트 삽입 append, insert
a = [1, 2, 3]
print(a)

a.append(4)
print(a)

a.append('글자')
print(a)

a.insert(0, 0)  #. (위치, 값)
print(a)

[0, 4, 6, 8, 10]
[4, 6, 8, 10]
[4, 6]
[4]
[4, 6, 8, 10]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, '글자']
[0, 1, 2, 3, 4, '글자']

In [ ]:
# 튜플 tuple
# 1. 튜플은 ()를 사용하여 만든다.
# 2. 튜플은 자료형을 혼잡하여 저장할수 도 있다.(파이썬 장점이자 단점)
# 3. 튜플 인덱싱과 슬라이싱이 가능하다.
# 4. 튜플에서는 삽입/삭제/수정이 불가능하다. immutable
# 5. 튜플은 한개의 요소로 만들때는 괜히 ,를 넣는다.
t1 = (1, 2, 3)
type(t1)

t2 = (1, 2, 'a', 'b')
print(t2)

(1, 2, 'a', 'b')

In [ ]:
#튜플에서의 인덱싱
t2 = (1, 2, 'a', 'b')
print(t2[-1])

b

In [ ]:
#튜플에서의 슬라이싱
print(t2[:2]) # 마지막은 미만처리

(1, 2)

In [ ]:
# 4. 튜플에서는 삽입/삭제/수정이 불가능하다. immutable
#삽입
t2 = (1, 2, 'a', 'b')
t2.append('c')

AttributeError: ignored

In [ ]:
# 4. 튜플에서는 삽입/삭제/수정이 불가능하다. immutable
# 수정
t2 = (1, 2, 'a', 'b')
t2[0] = 0

TypeError: ignored

In [ ]:
# 4. 튜플에서는 삽입/삭제/수정이 불가능하다. immutable
# 삭제
t2 = (1, 2, 'a', 'b')
t2.del(1)

SyntaxError: ignored

In [ ]:
len(t2)

4

In [ ]:
li1 = [1]
print(li1)
print(len(li1))
print(type(li1))

li2 = (1,)
print(li2)
# print(len(li2))
print(type(li2))

[1]
1
<class 'list'>
(1,)
<class 'tuple'>

In [ ]:
# Quiz1 bts 라는 이름 
bts = ['정국', '진', '뷔', 'RM', '지민', '제이홉', '슈가']

In [ ]:
#
bts.append('길동')

#
bts.pop()

#
nums = [1, 2, 3, 4, 5]
print(f'nums 리스트에서의 최대값은 {max(nums)}입니다.')
print(f'nums리스트에서의 최소값은 {min(nums)}입니다.')

total = sum(nums)
result = total / 5
print(f'nums리스트에서의 평균은 {result}입니다.')

price = ['20220602', 100, 300, 200]
print(price[1:])

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])  

s = "삼성 엘지 sk"
ss = "삼성/엘지/sk"

r = s.split()
r1 = s.split('/')
print(r)
print(r1)

nums 리스트에서의 최대값은 5입니다.
nums리스트에서의 최소값은 1입니다.
nums리스트에서의 평균은 3.0입니다.
[100, 300, 200]
[2, 4, 6, 8, 10]
['삼성', '엘지', 'sk']
['삼성 엘지 sk']

In [ ]:
# 딕셔너리 Dict
# 순서가 없다.
# 1. 딕셔너리는 {}를 사용하여 만든다.
# 2. 딕셔너리는 자료형을 혼잡하여 저장할수 도 있다.(파이썬 장점이자 단점)
# 3. 딕셔너리는 인덱싱과 슬라이싱이 불가능하다.
# 4. 리스트에서는 삽입/삭제/수정이 가능하다. mutable
# 5. 딕셔너리는 키값과 밸류값의 쌍으로 구성된다 (자바의 맵, JS의JSON)

a = {1:'hello', 2:'hi'}
print(type(a))
print(a)

<class 'dict'>
{1: 'hello', 2: 'hi'}

In [ ]:
b = {'name':'Alice', 'age':21, 'gender': 'F'}
print(b)

# 딕셔너리는 순서가 없기 때문에 indexing과 slicing이 불가능하다
# 딕셔너리는 순서가 없기때문에 입력순서와 출력순서가 다를 수 있다.

{'name': 'Alice', 'age': 21, 'gender': 'F'}

In [ ]:
# b[0] #딕셔너리는 인덱싱과 슬라이싱이 불가능하다
# 따라서 딕셔너리는 키값만으로만 추출할 수 있다.
b['name'] #키 값으로만 추출 할 수 있다.

'Alice'

In [ ]:
b = {'name':'Alice', 'age':21, 'gender': 'F'}
print(b)

del b['age'] #삭제
print(b)

b['age2'] = 31 #삽입
print(b)

b['age2'] = 25 # 수정
print(b)

{'name': 'Alice', 'age': 21, 'gender': 'F'}
{'name': 'Alice', 'gender': 'F'}
{'name': 'Alice', 'gender': 'F', 'age2': 31}
{'name': 'Alice', 'gender': 'F', 'age2': 25}

In [69]:
# 딕셔너리 관련 많이 사용되는 함수들
# keys
b = {'name':'Alice', 'age':21, 'gender': 'F'}
b.keys()

b.values() #

dict_values(['Alice', 21, 'F'])

In [ ]:
# 셋 set
# 1. 셋은 {}를 사용하여 만든다.
# 2. 셋은 자료형을 혼잡하여 저장할수 도 있다.(파이썬 장점이자 단점)
# 3. 셋은 인덱싱과 슬라이싱이 불가능하다. 순서가 없다. unordered
# 4. 셋른 삽입/삭제/수정이 가능하다. mutable
# 5. 셋은 중복값을 허용하지 않는다.

In [73]:
# 1. 셋은 {}를 사용하여 만든다.
s1 = {1, 2, 3}
type(s1)

s2 = set("hello")
print(s2)

{'l', 'e', 'o', 'h'}

In [74]:
# 5. 셋은 중복값을 허용하지 않는다.
s2 = {1, 1, 1, 2, 2, 3, '1', '하나'}
print(s2)

{1, 2, 3, '1', '하나'}

In [75]:
# 3. 셋은 인덱싱과 슬라이싱이 불가능하다. 순서가 없다. unordered
s2 = {1, 1, 1, 2, 2, 3, '1', '하나'}
print(s2)

{1, 2, 3, '1', '하나'}

In [76]:
s2 = {1, 1, 1, 2, 2, 3, '1', '하나'}
l2 = list(s2)
print(l2)

[1, 2, 3, '1', '하나']

In [77]:
# 4. 셋른 삽입/삭제/수정이 가능하다. mutable
s2 = {1, 1, 1, 2, 2, 3, '1', '하나'}
s2.add('둘')
s2

{1, '1', 2, 3, '둘', '하나'}

In [82]:
s2.remove(2)
s2

{1, '1', 3, '하나'}

In [84]:
# if 
# if 조건식:
#   참인 경우
# else:
#   거짓인 경우

money = 2000
card = True

if money >= 3000 or card:
  print('택시 타라') # 참인 경우
else:
  print('걸어 가라') # 거짓인 경우

택시 타라

In [87]:
4 not in[1,2,3]

True

In [88]:
pocket = ['paper', 'phone', 'money']

if 'money' in pocket:
  print('택시 타라')
else:
  print('걸어 가라')

택시 타라

In [89]:
pocket = ['paper', 'phone']
card = True

if 'money' in pocket:
  print('택시 타라')
else:
  if card:
    print('택시 타라')
  else:
    print('걸어 가라')

# 분기가 여러개일 경우 if문안에 if문을 중첩하여 사용 할 수는 있지만

택시 타라

In [90]:
pocket = ['paper', 'phone']
card = True

if 'money' in pocket:
  print('택시 타라')
elif card:
  print('택시 타라')
else:
    print('걸어 가라')

# elif는 갯수의 제한 없이 원하는 대로 넣을 수 있다.

택시 타라

In [91]:
pocket = ['paper', 'phone']
card = True

if 'money' in pocket: print('택시 타라')
elif card: print('택시 타라')
else: print('걸어 가라')

택시 타라

In [92]:
score = 90
if score >= 60:
  print("합격")
else:
  print("불합격")

합격

In [93]:
if score >= 60: print("합격")
else: print("불합격")

합격

In [94]:
# 조건부 표현식 : 한줄로 조건식을 표현
print("합격")          if score >= 60          else print("불합격")
#참의 경우                조건식                   거짓의 경우

합격

In [103]:
su = int(input("숫자를 입력하세요"))

if su % 2 == 0:
  print ("짝수")
else:
  print("홀수")
# % 나머지는 연산자로 홀수/짝수배수를 알아낼수 있다.

숫자를 입력하세요4
짝수

In [104]:
su = int(input("숫자를 입력하세요")) - 20

if num < 0:
    print(0)
elif num > 255:
  print(255)  
else:
  print(num)

숫자를 입력하세요-20
0

In [ ]:
su = int(input("숫자를 입력하세요"))
num = su + 20

if num <= 255:
  print(su + 20)
else:
  print(255)

In [120]:
now = input("현재시간 : ")
min = now[3::]

if min == '00':
  print("정각입니다")
else:
  print("정각이 아닙니다")

현재시간 : 03:10
정각이 아닙니다

In [123]:
num1 = int(input("Enter First number"))
num2 = int(input("Enter Second number"))

if num1 < num2:
  print(num1, num2)
else:
  print(num2, num1)

Enter First number7
Enter Second number6
6 7

In [128]:
color = input("Enter your favourite color")
red = ['red', 'RED', 'Red']

if color in 'red':
  print("I like red too")
else:
  print("i don\'t like black, i prefer red")

Enter your favourite colorblue
i don't like black, i prefer red

In [132]:
age = int(input("How old are you ???"))
if age >= 18:
  print("You can vote")
elif age == 17:
    print('You can learn to drive')
elif age == 16:
    print("You can buy a lottery ticket")
else:
  print("You cna go Trick-or-Treating")

How old are you ???18
You can vote

In [133]:
upp = input("type something")
print (upp.upper())

type somethinglsw
LSW