<a href="https://colab.research.google.com/github/keunsooyoon/python202206/blob/main/pythonbasic02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# input 입력

input()

gfdsags

'gfdsags'

In [3]:
input('아이디를 입력하세요')

아이디를 입력하세요ㄹㅇㄴㅁㄹㅇㄴ

'ㄹㅇㄴㅁㄹㅇㄴ'

In [4]:
id = input('아이디를 입력하세요')

아이디를 입력하세요fdsa

In [5]:
id = input('아이디를 입력하세요')
print(f'{id} 님 환영합니다.')

아이디를 입력하세요456456
456456 님 환영합니다.

In [6]:
age = input('당신의 나이를 입력하세요')
print(f'당신의 나이는 {age}입니다.')

당신의 나이를 입력하세요21
당신의 나이는 21입니다.

In [7]:
age = input('당신의 나이를 입력하세요')
print(f'당신의 내년 나이는 {age+1}입니다.')

# input 언제나 항상 입력받은 모든 데이터를 문자취급한다.

당신의 나이를 입력하세요21

TypeError: ignored

In [9]:
age = int(input('당신의 나이를 입력하세요'))
print(type(age))
print(f'당신의 내년 나이는 {age+1}입니다.')

# 따라서 숫자로 사용을 하고자 할때는 형변환 casting 을 해주어야 계산이 가능해진다.

당신의 나이를 입력하세요21
<class 'int'>
당신의 내년 나이는 22입니다.

In [11]:
# 컬렉션 list tuple dict set    

# 여러개의 데이터를 담아두는 자료형

# 리스트 list
# 1. 리스트는 [] 를 사용하여 만든다. 
# 2. 리스트는 자료형을 혼합하여 저장할수 도 있다. (파이썬 장점이자 단점)
# 3. 리스트는 인덱싱과 슬라이싱이 가능하다. 
# 4. 리스트에서는 삽입/삭제/수정이 가능하다. 

#리스트를 사용하면 2,4,6,8,10... 여러 데이터의 모음을 간단하게 표현할수 있다. 

num = [2,4,6,8,10]
print(num)

li1 = [1,2,'영희','철수']
print(li1)

[2, 4, 6, 8, 10]
[1, 2, '영희', '철수']

In [13]:
# 리스트에서의 인덱싱과 슬라이싱

num = [2,4,6,8,10]
print(num[-1])

10

In [14]:
print(num[0] + num[-1])

12

In [17]:
li1 = [1,2,'a','b',[1,2,3]]
print(li1[-1][0])

1

In [20]:
# 리스트에서의 슬라이싱

num = [2,4,6,8,10]
print(num[0:3])  # [start:stop(:step)]  스탭은 생략하면 1씩 증가 , stop 미만
print(num[:3])   # 시작을 생략하면 처음부터이고 끝을 생략하면 마지막 요소까지

[2, 4, 6]
[2, 4, 6]

In [21]:
# 리스트에서의 연산

a = [1,2,3]
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
# 리스트의 길이(갯수)

num = [2,4,6,8,10]
print(len(num))

5

In [32]:
# 4. 리스트에서는 삽입/삭제/수정이 가능하다. 

# 수정
num = [2,4,6,8,10]

num[0] = 0
print(num)


# 삭제
del num[0]
print(num)

del num[2:]  # 슬라이싱 기법을 사용하여 여러 요소 한번에 삭제
print(num)

num.pop()  # 마지막 항목을 하나씩 제거, 괄호안을 생략 -> 마지막 1개 삭제 
print(num)

num = [2,4,6,8,10]
num.pop(0)  # 괄호안을 생략하면 마지막 요소를 날리지만 위치값을 지정하면 그 요소를 삭제
print(num)

[0, 4, 6, 8, 10]
[4, 6, 8, 10]
[4, 6]
[4]
[4, 6, 8, 10]

In [30]:

# 리스트 삽입 append, insert

a = [1,2,3]
print(a)

a.append(4)
print(a)

a.append('글자')
print(a)

a.insert(0,0)   # (위치,값)
print(a)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, '글자']
[0, 1, 2, 3, 4, '글자']

In [35]:
# 튜플 tuple
# 1. 튜플은 () 를 사용하여 만든다. 
# 2. 튜플은 자료형을 혼합하여 저장할수 도 있다. (파이썬 장점이자 단점)
# 3. 튜플은 인덱싱과 슬라이싱이 가능하다. 
# 4. 튜플에서는 삽입/삭제/수정이 불가능하다. immutable
# 5. 튜플은 한개의 요소로 만들때는 괜히 ,를 넣는다. 

t1 = (1,2,3)
type(t1)
t2 = (1,2,'a','b')
print(t2)

(1, 2, 'a', 'b')

In [37]:
# 튜플에서의 인덱싱

t2 = (1,2,'a','b')

t2[-1]

'b'

In [38]:
# 튜플에서의 슬라이싱
t2[:2]  # 마지막은 미만 처리

(1, 2)

In [39]:
# 4. 튜플에서는 삽입/삭제/수정이 불가능하다. immutable

t2 = (1,2,'a','b')

t2.append('c')

AttributeError: ignored

In [41]:
del t2[0]

TypeError: ignored

In [40]:
t2[0] = 0

TypeError: ignored

In [42]:
len(t2)

4

In [48]:
# 5. 튜플은 한개의 요소로 만들때는 괜히 ,를 넣는다. 

li1 = [1]
print(li1)
print(len(li1))
print(type(li1))

print()

tu1 = (1)
print(tu1)
# print(len(tu1))
print(type(tu1))

print()

tu1 = (1,)
print(tu1)
# print(len(tu1))
print(type(tu1))

[1]
1
<class 'list'>

1
<class 'int'>

(1,)
<class 'tuple'>

In [59]:
# Quiz 1. bts 라는 이름의 멤버들 이름 리스트를 생성하세요.

bts = ['정국', '진', '뷔', 'RM', '지민', '제이홉', '슈가']

# Quiz 2. bts 추가된 멤버를 끝에 삽입하세요. '길동'

bts.append('길동')

# Quiz 3. '길동'을 삭제하세요

bts.pop()

# Quiz 4. nums = [1,2,3,4,5]  
# nums 리스트에서의 최대값은 5입니다.
# nums 리스트에서의 최소값은 1입니다.

nums = [1,2,3,4,5]  
print(f'nums리스트에서의 최대값은 {max(nums)}입니다. ')
print(f'nums리스트에서의 최소값은 {min(nums)}입니다. ')

# Quiz 5. nums = [1,2,3,4,5] 값의 평균을 계산하시오. 함수를 2개만 사용하세요  

print(f'nums 리스트에서의 평균은 {sum(nums)/len(nums)}입니다')


total = sum(nums)
result = total/5
print(f'평균은 {result}입니다')

# Quiz 6. 날짜를 제외한 가격만 출력하세요

price = ['20220602', 100, 300, 200]

print(price[1:])

# Quiz 7. 짝수만 출력하세요

nums = [1,2,3,4,5,6,7,8,9,10]

print(nums[1::2])


# Quiz 8. 꺼꾸로 출력하세요

nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[::-1])


# Quiz 9. s = "삼성 엘지 sk" 문자열 s를 리스트로 분리하여 저장하시오. split

s = "삼성 엘지 sk"
ss = "삼성/엘지/sk"
li = s.split()
li2 = ss.split('/')
print(li)
print(li2)

nums리스트에서의 최대값은 5입니다.
nums리스트에서의 최소값은 1입니다.
nums 리스트에서의 평균은 3.0입니다
평균은 3.0입니다
[100, 300, 200]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['삼성', '엘지', 'sk']
['삼성', '엘지', 'sk']

In [ ]:
# 딕셔너리 Dict   

# 1. 딕셔너리는 {} 를 사용하여 만든다. 
# 2. 딕셔너리는 자료형을 혼합하여 저장할수 도 있다. (파이썬 장점이자 단점)
# 3. 딕셔너리는 인덱싱과 슬라이싱이 불가능하다.  순서가 없다. unordered
# 4. 딕셔너리는 삽입/삭제/수정이 가능하다. mutable
# 5. 딕셔너리는 키값과 밸류값의 쌍으로 구성된다. (자바의 맵, JS 의 JSON)

In [63]:
a = {1:'hello', 2:'hi'}
print(type(a))
print(a)

<class 'dict'>
{1: 'hello', 2: 'hi'}

In [66]:
b = {'name':'Alice',  'gender': 'F','age':21}
print(b)

# 딕셔너리는 순서가 없기때문에 indexing 과 slicing 이 불가능하다. 
# 딕셔너리는 순서가 없기때문에 입력순서와 출력순서가 다를 수 있다.

{'name': 'Alice', 'gender': 'F', 'age': 21}

In [69]:
# b[0]  # 딕셔너리는 인덱싱과 슬라이싱이 불가능하다. 

# 따라서 딕셔너리는 키값으로만 추출할수 있다. 

b['name']  # 키값으로만 밸류값을 꺼낼수 있다.

'Alice'

In [72]:
# 4. 딕셔너리는 삽입/삭제/수정이 가능하다. mutable

b = {'name':'Alice',  'gender': 'F','age':21}
print(b)

del b['age']     #삭제
print(b)

b['age2'] = 31   # 삽입
print(b)

b['age2'] = 25   # 수정
print(b)

{'name': 'Alice', 'gender': 'F', 'age': 21}
{'name': 'Alice', 'gender': 'F'}
{'name': 'Alice', 'gender': 'F', 'age2': 31}
{'name': 'Alice', 'gender': 'F', 'age2': 25}

In [73]:
# 딕셔너리 관련 많이 사용되는 함수들

# keys()      # 키 값들만 모두 추출

b = {'name':'Alice',  'gender': 'F','age':21}

b.keys()

dict_keys(['name', 'gender', 'age'])

In [74]:
b.values()   # 밸류 값들만 모두 추출

dict_values(['Alice', 'F', 21])

In [77]:
c = b.items()   # 키와 밸류를 쌍으로 반환
c

dict_items([('name', 'Alice'), ('gender', 'F'), ('age', 21)])

In [ ]:
# 셋 set  

# 1. 셋은 {} 를 사용하여 만든다. 
# 2. 셋은 자료형을 혼합하여 저장할수 도 있다. (파이썬 장점이자 단점)
# 3. 셋은 인덱싱과 슬라이싱이 불가능하다. 순서가 없다. unordered
# 4. 셋은 삽입/삭제/수정이 가능하다. mutable
# 5. 셋은 중복값을 허용하지 않는다.

In [80]:
# 1. 셋은 {} 를 사용하여 만든다. 

s1 = {1,2,3}
type(s1)

s2 = set("hello")
print(s2)

{'h', 'o', 'e', 'l'}

In [81]:
# 5. 셋은 중복값을 허용하지 않는다. 

s2 = {1,1,1,2,2,3,'1','하나'}
print(s2)

{1, 2, 3, '1', '하나'}

In [83]:
# 3. 셋은 인덱싱과 슬라이싱이 불가능하다. 순서가 없다. unordered


s2 = {1,1,1,2,2,3,'1','하나'}

s2[0]

TypeError: ignored

In [84]:
s2 = {1,1,1,2,2,3,'1','하나'}
l2 = list(s2)
print(l2)

[1, 2, 3, '1', '하나']

In [85]:
# 4. 셋은 삽입/삭제/수정이 가능하다. mutable

s2 = {1,1,1,2,2,3,'1','하나'}

s2.add('둘')
s2

{1, '1', 2, 3, '둘', '하나'}

In [86]:
s2.remove(2)  # 삭제할 데이터

In [87]:
s2

{1, '1', 3, '둘', '하나'}

In [88]:
# if 


# if 조건식:
#   참인 경우
# else:
#   거짓인 경우

money = 2000
if money >= 3000:
  print('택시 타라')   # 참인 경우
else:
  print('결어 가라')   # 거짓인 경우

결어 가라

In [89]:
money = 2000
card = True

if money >= 3000 or card:
  print('택시 타라')   # 참인 경우
else:
  print('결어 가라')   # 거짓인 경우

택시 타라

In [92]:
4 not in [1,2,3]

True

In [93]:
pocket = ['paper','phone','money']

if 'money' in pocket:
  print('택시 타라')
else:
  print('걸어 가라')

택시 타라

In [94]:
pocket = ['paper','phone']
card = True

if 'money' in pocket:
  print('택시 타라')
else:
  if card:
      print('택시 타라')
  else:
      print('걸어 가라')

# 분기가 여러개일 경우 if문안에 if문을 중첩하여 사용 할 수는 있지만
# 권장하지 않는다. 따라서 분기가 여러개일 경우 elif를 사용하자

택시 타라

In [95]:
pocket = ['paper','phone']
card = True

if 'money' in pocket:
  print('택시 타라')
elif card:
  print('택시 타라')
else:
  print('걸어 가라')

  # elif  는 갯수의 제한없이 원하는 대로 넣을 수 있다.

택시 타라

In [96]:
pocket = ['paper','phone']
card = True

if 'money' in pocket: print('택시 타라')
elif card: print('택시 타라')
else: print('걸어 가라')

택시 타라

In [98]:
score = 90


if score >= 60:
  print("합격")
else:
  print("불합격")

합격

In [99]:
if score >= 60: print("합격")
else: print("불합격")

합격

In [101]:
# 조건부 표현식 : 한줄로 조건식을 표현
print("합격")              if score >= 60            else print("불합격")  
#  참의 경우                  조건식                    거짓의 경우

합격

In [102]:
# Quiz 1

if True:
  print('1')
  print('2')
else:
  print('3')
print('4')

1
2
4

In [ ]:
# Quiz 2

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

In [103]:
# 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

# >> 30

# 짝수

# by 장서영

if int(input("숫자를 입력해주세요")) % 2 == 0: print("짝수")
else: print("홀수")


# % 나머지 연산자로 홀수/짝수/배수를 알아낼수 있다.

숫자를 입력해주세요5
홀수

In [106]:
# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

# >> 입력값: 200
# 출력값: 220
# >> 입력값: 240
# 출력값: 255

#by 유정화
a = int(input('숫자 입력'))
num = a + 20
# if a <= 235 : 
#   print(a+20)
# else :
#   print(255)

if num > 255:
  print(255)
else:
  print(num)

숫자 입력300
255

In [108]:
# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 
# 단 출력 값의 범위는 0~255이다. 
# 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 
# 255보다 큰 값이 되는 경우 255를 출력해야 한다.

# >> 입력값: 200
# 출력값: 180
# >> 입력값: 15
# 출력값: 0

# by 장서영
num = int(input("숫자를 입력해주세요")) - 20
if num  < 0 : print(0)
elif num  > 255 : print(255)
else : print(num )


# by 유정화
a = int(input('숫자 입력'))
result = a - 20

if result > 255:
  print(255)
elif result < 0 :
  print(0)
else :
  print(result)

숫자를 입력해주세요15
0

In [ ]:
# 사용자로부터 입력 받은 시간이 정각인지 판별하라.

# >> 현재시간: 02:00
# 정각 입니다.


# >> 현재시간: 03:10
# 정각이 아닙니다

now = input("현재시간 : ")
min = now[-2:]  # min = now[3:5:]

if min == '00':
  print("정각입니다")
else:
  print("정각이 아닙니다")

In [ ]:
# Ask for two numbers. if the first one is larger than the second,
# display the second number first and then the first number, 
# otherwise show the first number first and then the second.


# Enter First number : 7
# Enter Second number : 3

# 3 7 

#by 유정화

n1 = int(input('Enter the first number : '))
n2 = int(input('Enter the second number : '))

if n1 > n2 :
  print(n2, n1)
elif n2 > n1 :
  print(n1, n2)
else :
  print('다시 실행하세요')

In [110]:
# Ask the user to enter number that is under 20.
# if they enter a number that is 20 or more.
# display the message "Too high",
# otherwise display "Thank you".


# Enter number that is under 20  : 30
# Too high

# by 장서영
num = int(input("Enter a number is under 20 : "))
if (num >= 20): print("Too high")
else : print("Thank you")

Enter a number is under 20 : 90
Too high

In [ ]:
# Ask the user to enter their favourite color.
# If they enter "red","RED" or "Red" display the message
# "I like red too"
# otherwise display the message 
# "I dont like [color], i prefer red"


# Enter their favourite color ? Red
# "I like red too"

# Enter their favourite color ? Black
# I don't like black, i prefer red

# by 유정화

col = input("Enter your favorite color?")

red = ['red','RED','Red']

if col in red:
  print('I like red too')
else:
  print(f"I don't like {col}, I prefer red.")

In [ ]:
# Ask the user's age. If they are 18 or over,
# display the message "You can vote",
# if they are aged 17, display the message " You can learn to drive"
# if they are 16, display the message "You can buy a lottery ticket"
# if they are under 16, display the message " You can go Trick-or-Treating"


# How old are you ??? 21
# You can vote.

# How old are you ??? 17
# You can learn to drive

# by 장서영
age = int(input("How old are you? : "))
if age >= 18 : print("You can vote")
elif age == 17:  print("You can learn to drive")
elif age == 16 : print("You can buy a lottery ticket")
else : print("You cna go Trick-or-Treating")

In [ ]:
# Ask the user to enter 1,2 or 3 If they enter a 1
# display the message "Thank you"  if they enter a 2
# display the message "Well done" if they enter a 3
# display the message "Correct" if they enter anything else
# display "Error message"

# by 장서영
num = int(input("Enter 1, 2, or 3"))

if num == 1 : print("Thank you")
elif num == 2 : print("Well done")
elif num == 3 : print("Correct")
else : print ("Error message")

In [111]:


# Ask the user to enter their first name (in English)
# and then display the length of their name ?

# by 장서영

name = input("Enter your first name : ")
print(len(name))

Enter your first name : Austin
6

In [ ]:
# Ask the user to type in any word and display it in upper case

# type something >>> austin
# AUSTIN

# by 장서영
word = input("Enter any word : ").upper()
print(word)

# by 유정화
word = input('Enter the word : ')
print(word.upper())

In [ ]:
# Pig Latin takes the first consonant of a word.
# moves it to the end of the word and adds on an "ay".
# If a word begins with a vowel you just add "way" to the end.

# for example, 
# pig becomes igpay, banana becomes ananabay, 
# and aadvark becomes aadvarkway.
# Create a program that will ask the user to enter a word 
# and change it into Pig Latin.
# Make sure the new word is displayed in lowercase.